body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 30px;
}

nav {
  background-color: #444;
  text-align: center;
  padding: 12px;
}

nav a :hover {
  color: lightgray;

}

section {
  background-color: #f5f5f5;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 12px;
}